motor
pyrofork
tgcrypto
telethon
cryptg
fastapi
uvicorn
pytz
smartfaker
brotli
aiofiles
zstandard
smartbindb
googletrans
lxml
beautifulsoup4
cloudscraper
pillow
requests
aiohttp<3.13
gtts
pycountry
pydantic<2.0
python-dateutil
py-yt-search==0.2
